<!-- footer -->
  <div class="jumbotron b-primary">
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <ul class="list-unstyled text-center">
            <li><h4 class="c-white yahei hover-white">我们</h4></li>          
            <li><a href="__MODULE__/Information/we/" class="c-white yahei hover-white">关于我们</a></li>
            <li><a href="__MODULE__/Information/we/#lianxi" class="c-white yahei hover-white">联系我们</a></li>
            <li><a href="__MODULE__/Information/we/#hezuo" class="c-white yahei hover-white">广告合作</a></li>          
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled text-center">
            <li><h4 class="c-white yahei hover-white">功能</h4></li>            
            <li><a href="__MODULE__/Information/accusation/" class="c-white yahei hover-white">举报投诉</a></li>
            <li><a href="__MODULE__/Information/feedback/" class="c-white yahei hover-white">意见反馈</a></li>      
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled text-center">
            <li><h4 class="c-white yahei hover-white">关注</h4></li>            
            <li><a href="__MODULE__/Information/follow/" class="c-white yahei hover-white">新浪微博</a></li>        
            <li><a href="__MODULE__/Information/follow/" class="c-white yahei hover-white">官方微信</a></li>        
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled text-center">
            <li><h4 class="c-white yahei hover-white">下载</h4></li>            
            <li><a href="__MODULE__/Information/download/" class="c-white yahei hover-white">安卓移动端</a></li>
            <li><a href="__MODULE__/Information/download/" class="c-white yahei hover-white">苹果移动端</a></li>      
          </ul>
        </div>       
      </div>

      <br>
      <br>
      
      <div class="row">
        <h4 class="font-small text-center col-md-12 c-ddd">
          Copyright ©2015 xxx网站拼音名称xxx
          <a href="http://www.miitbeian.gov.cn/" class="c-ddd hover-white">&nbsp;粤ICP备123456789号</a>
        </h4>
      </div>

    </div>
  </div>
<!-- footer_end -->

<!-- 去顶部   -->
  <div class="to_top" title="去顶部"></div>

<!-- js -->
  <script>var _MODULE_='__MODULE__';</script>
  
  <script src="__JS__/js.js"></script>


<script>
//  Tooltip提示工具
 $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
<!-- js_end -->




</body>
</html>