<layout name="Layout/layout_information"/>



  
  <div class="container yahei padding_top">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

         <div class="panel panel-primary">          
          <div class="panel-heading yahei text-center font-big">投诉举报</div>
          <div class="panel-body">
          <!-- 表单     -->
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label class="col-md-3 control-label" for="duixiang">对象:</label>
              <div class="col-md-8"><input type="text" name="" id="duixiang" class="form-control" placeholder="被举报者人的用户名"></div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="cause">投诉举报原因:</label>
              <div class="col-md-8"><textarea name="" id="cause" rows="7" class="form-control" placeholder="请精简说明原因"></textarea></div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="contact">您的联系方式:</label>
              <div class="col-md-8"><input type="text" name="" id="contact" class="form-control" placeholder="邮箱或电话等任留一"></div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="verify">验证码:</label>
              <div class="col-md-3"><input type="text" name="" id="verify" class="form-control" placeholder="请输入"></div>
              <div class="col-md-2">avcs</div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1"><input type="submit" value="提交" class="form-control btn-primary"></div>               
            </div>            
          </form>


              




          </div><!--panel_body__end-->
          

        </div>       

      </div>


    </div>        
    







  </div>


