<layout name="Layout/layout_information"/>



		<div class="container yahei">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-info text-center"><span class="text-primary">把__WEB_NAME__装进口袋，随时随地买卖。</span></h3>
        </div>
      </div>
			<div class="row">
        <!-- 安卓 -->
        <div class="col-md-6 phone_height text-center">
          <h3 class="yahei text-center"><span class="text-medium"><img src="__IMG__/icon/icon_android.png" style="width45px;height:45px;" alt=""></span>安卓客户端下载</h3>
          <small>扫描二维码下载</small>

          <div class="row">
            <div class="col-md-12">
              <img src="__IMG__/icon/icon_erweicode.png" style="widht:150px;height:150px;" alt="">
            </div>
          </div>
          
          <small>or</small>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="btn btn-primary btn-sm">点击下载</a>
            </div>
          </div>

        </div>
        <!-- 苹果 -->
        <div class="col-md-6 phone_height text-center">
          <h3 class="yahei text-center"><span class="text-medium"><img src="__IMG__/icon/icon_apple_big.png" style="width45px;height:45px;" alt=""></span>苹果客户端下载</h3> 

          <div class="row">
            <div class="col-md-12">
              <a href="#" class="btn btn-primary btn-lg apple_store_btn">Apple Store</a>
            </div>
          </div>          
        </div>
        <!-- 苹果_end -->
      </div>

		</div>
	

