<layout name="Layout/layout_information"/>



  
  <div class="container yahei padding_top">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

         <div class="panel panel-primary">          
          <div class="panel-heading yahei text-center font-big">留言反馈</div>
          <div class="panel-body">
          <!-- 表单     -->
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label class="col-md-3 control-label" for="duixiang">标题:</label>
              <div class="col-md-8"><input type="text" name="" id="duixiang" class="form-control" placeholder="请键入反馈标题"></div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="content">内容:</label>
              <div class="col-md-8"><textarea name="" id="content" rows="7" class="form-control" placeholder="请键入反馈内容"></textarea></div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="contact">您的联系方式:</label>
              <div class="col-md-8"><input type="text" name="" id="contact" class="form-control" placeholder="邮箱或电话等任留一"></div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="verify">验证码:</label>
              <div class="col-md-4" id="verify_div"><input type="text" name="" id="verify" class="form-control" placeholder="请键入验证码"></div>
              <div class="col-md-2 pointer" title="点击可切换验证码">avcs</div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1"><input type="submit" value="提交" class="form-control btn-primary"></div>            
            </div>            
          </form>


              




          </div><!--panel_body__end-->
          

        </div>       

      </div>


    </div>        
    







  </div>




