<layout name="Layout/layout_information"/>



		<div class="container yahei">
<!--       <div class="row">
        <div class="col-md-12">
          <h3 class="text-info text-center"><span class="text-primary">把__WEB_NAME__装进口袋，随时随地买卖。</span></h3>
        </div>
      </div> -->
			<div class="row">
        <!-- 安卓 -->
        <div class="col-md-6 phone_height text-center">
          <h3 class="yahei text-center"><span class="text-medium"><img src="__IMG__/icon/icon_weixin.png" style="width45px;height:45px;" alt=""></span> 关注微信</h3>
          <small class="text-muted">手机微信扫一扫~</small>

          <div class="row">
            <div class="col-md-12">
              <img src="__IMG__/icon/icon_erweicode.png" style="widht:150px;height:150px;" alt="">
            </div>
          </div>

        </div>
        <!-- 苹果 -->
        <div class="col-md-6 phone_height text-center">
          <h3 class="yahei text-center"><span class="text-medium"><img src="__IMG__/icon/icon_weibo.png" style="width45px;height:45px;" alt=""></span> 关注微博</h3> 
          <!-- <small class="text-muted">最新动态~</small> -->
          <div class="row">
            <div class="col-md-12">
              <h2><a href="" style="text-primary">@__WEB_NAME__</a></h2>
            </div>
          </div>          
        </div>
        <!-- 苹果_end -->
      </div>

		</div>
	

