<layout name="Layout/layout_information"/>

    <div class="container yahei" id="nav_left">
      <!-- 附加导航：左4导航右8内容 -->
      <!-- 左 -->
      <div class="col-md-3" >
        <ul class="nav nav-tabs nav-stacked" id="chongxie_nav" data-spy="affix">
          <li class="active"><a href="#guanyu">关于我们<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
          <li><a href="#lianxi">联系我们<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
          <li><a href="#hezuo">广告合作<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        </ul>
      </div>
      <!-- 左_end -->
      <!-- 右 -->
      <div class="col-md-9">
        
            <h2 id="guanyu">关于我们</h2>
            <p>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </p>
            <hr>
            <h2 id="lianxi">联系我们</h2>
            <p>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </p>
            <hr>
            <h2 id="hezuo">广告合作</h2>
            <p>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </p>


      </div>
      <!-- 右_end -->





    </div>
    <!-- container_end -->
  



