<layout name="Layout/layout_mine"/>

    <div class="col-md-7">
      <div class="panel panel-success margin-top">

        <div class="panel-body">
          <fieldset>
            <legend><span class="glyphicon glyphicon-heart"></span> 我的收藏</legend>
          </fieldset>
      <!-- 表格   -->
          <table class="table table-hover table_list">
            <tr>
              <th class="font-small text-muted text-center">商品</th>
              <th class="font-small text-muted text-center">价格</th>
              <th class="font-small text-muted text-center">发布时间</th>              
              <th class="font-small text-muted text-center">状态</th>
              <th class="font-small text-muted text-center">操作</th>
            </tr>

            <!-- 一个商品 -->
            <tr class="text-center">
              <td class="text-left">
                  <div class="media-left padding-right">
                    <div class="img-80"><a href="#"><img src="__IMG__/test/2.jpg" style="width:100%;" alt=""></a></div>
                  </div>
                  <div class="media-right">
                    <p class="m_t"><a href="#" class="c-gray">华为手机便宜大甩卖</a></p>
                  </div>
              </td>
              <td>￥55</td>
              <td>10.18</td>               
              <td>发布中</td>
              <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> 移除</button></td>
            </tr>
            <!-- 一个商品_end -->

          </table>
          
          <div class="col-md-12 text-center">
          <!-- 分页 -->
            <ul class="pagination">
              <li><a href="">1</a></li>
              <li class="active"><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li><a href="">6</a></li>
            </ul>            
          </div>
  

      <!-- 表格_end -->
        </div><!--panel_body__end-->
      </div>          



    </div>


  </div>
  <!-- row_end -->
</div>
<!-- 内容_container_end  -->

  
